<div class="container" style="max-width: 1140px;">
    <div class="row text-dark">
        <!-- Các chi nhánh -->
        <div class="col-md-4 mb-3">
            <h6><strong>CHI NHÁNH QUẬN 3</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                644 Nguyễn Đình Chiểu, P.2, Q.3 (chợ Bàn Cờ)<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 283 832 2014</a>
                </span> Giờ mở cửa: 8h30 - 22h
            </p>

            <h6><strong>CHI NHÁNH QUẬN 7</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                478 Nguyễn Thị Thập, P.Tân Quy, Q.7<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">028 6686 0478</a>
                </span> Giờ mở cửa: 8h30 - 22h
            </p>

            <h6><strong>CHI NHÁNH PHÚ NHUẬN</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                242-242A Phan Đình Phùng, P.1, Q.Phú Nhuận<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 971 261 173</a>
                </span> Giờ mở cửa: 8h - 22h
            </p>
        </div>

        <div class="col-md-4 mb-3">
            <h6><strong>CHI NHÁNH TÂN BÌNH</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                939 Cách Mạng Tháng 8, P.7, Q.Tân Bình<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 938 643 608</a>
                </span> Giờ mở cửa: 8h30 - 22h
            </p>

            <h6><strong>CHI NHÁNH QUẬN 6</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                68 Ba Hom, P.13, Q.6<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 283 877 8088</a>
                </span> Giờ mở cửa: 8h30 - 22h
            </p>

            <h6><strong>CHI NHÁNH TÂN PHÚ</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                133 Lê Trọng Tấn, P.Sơn Kỳ, Q.Tân Phú<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 287 307 4039</a>
                </span> Giờ mở cửa: 8h30 - 22h
            </p>
        </div>

        <div class="col-md-4 mb-3">
            <h6><strong>CHI NHÁNH GÒ VẤP</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                80-82-84 Nguyễn Oanh, P.7, Q.Gò Vấp<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 283 989 2756</a>
                </span> Giờ mở cửa: 8h - 22h
            </p>

            <h6><strong>CHI NHÁNH THỦ ĐỨC</strong></h6>
            <p>
                <i class="fa-solid fa-location-dot" style="color: #e21818;"></i>
                239 Võ Văn Ngân, P.Linh Chiểu, Q.Thủ Đức<br>
                <i class="fa-solid fa-phone" style="color: #f71818;"></i>
                <span class="text-success">
                    <a href="#" class="text-success">+84 286 685 9239</a>
                </span> Giờ mở cửa: 8h45 - 22h15
            </p>

            <p><a href="#" class="text-success">
                    <i class="fa-solid fa-angles-up" style="color: #27865a;"></i>
                    Trở về đầu trang</a></p>
        </div>
    </div>
</div>


<!--11.1 Footer dưới cùng -->
<div class="bg-dark text-light py-5 mt-4">
    <div class="container" style="max-width: 1250px;">
        <div class="row">
            <!-- Cột 1 -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h6 class="text-uppercase text-white text-white">Trang chủ</h6>
                <ul class="list-unstyled ">
                    <li class="mb-2">
                        <i class="fa-solid fa-newspaper me-2"></i>
                        <a href="#" class="text-uppercase footer-link">Giới thiệu</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-newspaper me-2"></i>
                        <a href="#" class="footer-link">Chính sách bảo mật thông tin</a>
                    </li>
                </ul>
            </div>

            <!-- Cột 2 -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h6 class="text-uppercase text-white ">Cửa hàng</h6>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa-solid fa-newspaper me-2 mb-2"></i>
                        <a href="#" class="text-uppercase footer-link">Hệ thống cửa hàng</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-newspaper me-2 mb-2"></i>
                        <a href="#" class="footer-link">Chính sách bảo hành và đổi hàng</a>
                    </li>

                    <li>
                        <i class="fa-solid fa-newspaper me-2"></i>
                        <a href="#" class="footer-link">Phương thức thanh toán</a>
                    </li>
                </ul>
            </div>

            <!-- Cột 3 -->
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <h6 class="text-uppercase text-white">Chính sách giao nhận</h6>
                <ul class="list-unstyled">

                </ul>
            </div>

            <!-- Cột 4 -->
            <div class="col-12 col-md-6 col-lg-3 mb-3 text-md-end text-start">
                <h6 class="text-uppercase text-white mb-2">giayhongthanh.com.vn</h6>
                <p class="small text-white-50">Powered by <span class="text-danger fw-bold">🔺HD</span><br>
                    Đã đăng ký bản quyền © 2025</p>
            </div>
        </div>

        <!-- Thông tin công ty -->
        <div class="row mt-2">
            <div class="col-12 col-md-6 col-lg-4 mb-2">
                <p class="small mb-0">THÔNG TIN CÔNG TY<br>
                    GIÀY HỒNG THẠNH<br>
                    <a href="#" class="footer-link">hongthanholine@gmail.com</a><br>
                    <a href="#" class="footer-link">028 38 355790 / 0969 335 335</a><br>
                    <a href="https://www.giayhongthanh.com.vn"
                        class="footer-link">https://www.giayhongthanh.com.vn</a><br>

            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-2" style="font-size: 14px; ">
                Giấy chứng nhận ĐKKD: 41C8013959 <br>
                Ngày cấp: 06/10/2011 <br>
                Nơi cấp: UBND Quận 3 TP. HCM <br>
                Văn phòng: 644-646-648 Nguyễn Đình Chiểu, P.3, Q.3, TP. Hồ Chí Minh</p>
            </div>
            <div class="col-3">
                <img src="assets/img/Dang-ky-thong-bao-website-thuong-mai-dien-tu-1.png" alt="Đã thông báo BCT"
                    width="300" class="img-fluid mx-auto d-block">
            </div>


        </div>
    </div>

</div>

<!-- Hotline bên ngoài container -->
<div class="site-hotline-bar position-fixed bottom-0 start-0 text-white px-4 py-2 fw-bold">
    <i class="fa-solid fa-phone-volume me-2"></i>
    Hotline:
    <a href="tel:02838355790">028 38 355790</a>
    –
    <a href="tel:0969335335">0969 335 335</a>
</div>
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>