<div class="container site-topbar" style="max-width: 1250px;">
    <div class="row align-items-center">
        <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-6 col-md-3 d-flex align-items-center">
                <a href="index.html" class="logo d-flex align-items-center ">
                    <h1 class="sitename mb-0">
                        <img src="assets/img/hongthanh-logo.png" alt="logoHT" style="max-height: 70px;">
                    </h1>
                </a>
            </div>

            <!-- Search -->
            <div class="col-12 col-md-6 my-2 my-md-0">
                <div class="position-relative site-search" id="site-search-wrap">
                    <label for="site-search-q" class="visually-hidden">Tìm sản phẩm</label>
                    <input type="search" id="site-search-q" class="form-control rounded-pill ps-4 pe-5"
                        placeholder="Tìm sản phẩm…" autocomplete="off" spellcheck="false" maxlength="80" />
                    <button type="button" id="site-search-submit"
                        class="btn btn-link position-absolute top-50 end-0 translate-middle-y p-0 pe-3 border-0 text-secondary lh-1"
                        aria-label="Tìm kiếm">
                        <i class="bi bi-search"></i>
                    </button>
                    <div id="site-search-dropdown"
                        class="d-none position-absolute top-100 start-0 w-100 mt-1 bg-white border rounded-3 shadow-sm overflow-auto site-search-dropdown"
                        style="z-index: 1080; max-height: 280px"></div>
                </div>
            </div>

            <!-- Icons -->
            <div class="col-6 col-md-3 d-flex justify-content-end align-items-center gap-3">
                <a href="#" class="facebook text-dark fs-5 icon-hover"><i class="bi bi-facebook"></i></a>
                <a href="#" class="twitter text-dark fs-5 icon-hover"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#" class="instagram text-dark fs-5 icon-hover"><i class="fa-solid fa-circle-user"></i></a>
                <a href="#" class="linkedin text-dark fs-5 icon-hover"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

        </div>

    </div>
</div>

<main class="main">
    <!--1.1 Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light site-nav border-bottom">
        <div class="container" style="max-width: 1250px;">

            <!-- Mobile toggle -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- MENU -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="/index.html" class="nav-link">TRANG CHỦ</a>
                    </li>

                    <li class="nav-item">
                        <a href="/cuahang.html" class="nav-link">CỬA HÀNG</a>
                    </li>

                    <!-- Giới thiệu -->
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <a href="/introduce.html" class="nav-link">GIỚI THIỆU</a>
                            <a href="#" class="nav-link dropdown-toggle px-1" id="aboutDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                        </div>

                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="aboutDropdown">
                            <li><a href="/log.html" class="dropdown-item text-uppercase">Bài viết</a></li>
                            <li><a href="/introduce.html" class="dropdown-item text-uppercase">Hệ thống cửa hàng</a>
                            </li>
                        </ul>
                    </li>


                    <!-- Giày nữ -->
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <a href="/giayNu.html" class="nav-link">GIÀY NỮ</a>
                            <a href="#" class="nav-link dropdown-toggle px-1" id="womenDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="womenDropdown">
                            <li><a class="dropdown-item" href="#">Top giày nữ</a></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-item dropdown-toggle">Dép</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item">Dép cao gót</a></li>
                                    <li><a href="#" class="dropdown-item">Dép bệt</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Sandal nữ</a></li>
                            <li><a class="dropdown-item" href="#">Giày cao gót</a></li>
                        </ul>
                    </li>

                    <!-- Giày nam -->
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <a href="/giayNam.html" class="nav-link">GIÀY NAM</a>
                            <a href="#" class="nav-link dropdown-toggle px-1" id="menDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menDropdown">
                            <li><a class="dropdown-item" href="#">Sneaker nam</a></li>
                            <li><a class="dropdown-item" href="#">Giày tây</a></li>
                            <li class="dropdown-submenu">
                                <a href="#" class="dropdown-item dropdown-toggle">Dép nam</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="dropdown-item">Dép quai ngang</a></li>
                                    <li><a href="#" class="dropdown-item">Dép doctor</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="#">Giày công sở</a></li>
                        </ul>
                    </li>

                    <!-- Giày trẻ em -->
                    <li class="nav-item">
                        <a href="/giayTreEm.html" class="nav-link">GIÀY TRẺ EM</a>
                    </li>

                    <!-- SALE -->
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <a href="/giaySales.html" class="nav-link">SALE</a>
                            <a href="#" class="nav-link dropdown-toggle px-1" id="saleDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="saleDropdown">
                            <li><a class="dropdown-item" href="#">Sale off giày nữ</a></li>
                            <li><a class="dropdown-item" href="#">Sale off giày nam</a></li>
                        </ul>
                    </li>

                    <!-- Phụ kiện -->
                    <li class="nav-item dropdown">
                        <div class="d-flex align-items-center">
                            <a href="/phuKien.html" class="nav-link">PHỤ KIỆN GIÀY DÉP</a>
                            <a href="#" class="nav-link dropdown-toggle px-1" id="accessoriesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"></a>
                        </div>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accessoriesDropdown">
                            <li><a class="dropdown-item" href="#">Dây giày</a></li>
                            <li><a class="dropdown-item" href="#">Miếng lót</a></li>
                            <li><a class="dropdown-item" href="#">Dụng cụ vệ sinh</a></li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

</main>